[data-aos="fade-in-index-main"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media (min-width: 768px) {
    transform: translateX(-3%);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="fade-in-index-section-left"] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(0);
  }

  @media (min-width: 768px) {
    transform: translate(-5%, 5%);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="fade-in-index-section-right"] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(0);
  }

  @media (min-width: 768px) {
    transform: translate(5%, 5%);

    &.aos-animate {
      transform: translate(0);
    }
  }
}