// Animate On Scroll - Custom animations

[data-aos="fade-in-index-main"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media (min-width: 768px) {
    transform: translateX(-3%);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="fade-in-index-section-left"] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(0);
  }

  @media (min-width: 768px) {
    transform: translate(-10%, 0%);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

[data-aos="fade-in-index-section-right"] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate(0);
  }

  @media (min-width: 768px) {
    transform: translate(10%, 0%);

    &.aos-animate {
      transform: translate(0);
    }
  }
}

// Custom animations

.fade-up {
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(10%)
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  & {
    animation: fadeUp 1500ms;
  }
}

// Hover underline animation

.hover-underline-animation {
  @media (min-width: 768px) {
    & {
      display: inline-block;
      position: relative;
    }
  }
}

.hover-underline-animation::after {
  @media (min-width: 768px) {
    & {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color5;
      transform-origin: bottom;
      transition: transform 0.25s ease-out;
    }
  }
}

.hover-underline-animation:hover::after {
  @media (min-width: 768px) {
    & {
      transform: scaleX(1);
      transform-origin: bottom;
    }
  }
}