// Custom animations

.fadein-up {
  @keyframes fadeIn-Up {
    0% {
      opacity: 0;
      transform: translate3D(0, 15%, 0)
    }

    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }

  & {
    animation: fadeIn-Up 1500ms;
  }
}

.fadein-index-title {
  @keyframes fadeIn-Index-Title {
    0% {
      opacity: 0;
      transform: translate3D(-3%, 0, 0);
    }

    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }

  @media (max-width: 767px) {
    @keyframes fadeIn-Index-Title {
      0% {
        opacity: 0;
        transform: translate3D(0, 25%, 0);
      }

      100% {
        opacity: 1;
        transform: translate3D(0);
      }
    }
  }

  & {
    animation: fadeIn-Index-Title 1500ms;
  }
}

.fadein-right {
  @keyframes fadeIn-Right {
    0% {
      opacity: 0;
      transform: translate3D(-10%, 0, 0);
    }

    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }

  @media (max-width: 767px) {
    @keyframes fadeIn-Right {
      0% {
        opacity: 0;
        transform: translate3D(0, 25%, 0);
      }

      100% {
        opacity: 1;
        transform: translate3D(0);
      }
    }
  }

  & {
    animation: fadeIn-Right 1500ms;
  }
}

.fadein-left {
  @keyframes fadeIn-Left {
    0% {
      opacity: 0;
      transform: translate3D(10%, 0, 0);
    }

    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }

  @media (max-width: 767px) {
    @keyframes fadeIn-Left {
      0% {
        opacity: 0;
        transform: translate3D(0, 25%, 0);
      }

      100% {
        opacity: 1;
        transform: translate3D(0);
      }
    }
  }

  & {
    animation: fadeIn-Left 1500ms;
  }
}

// Hover underline animation

.hover-underline-animation {
  @media (min-width: 768px) {
    & {
      display: inline-block;
      position: relative;
    }
  }
}

.hover-underline-animation::after {
  @media (min-width: 768px) {
    & {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color5;
      transform-origin: bottom;
      transition: transform 0.25s ease-out;
    }
  }
}

.hover-underline-animation:hover::after {
  @media (min-width: 768px) {
    & {
      transform: scaleX(1);
      transform-origin: bottom;
    }
  }
}