html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}

body {
  display: flex;
  flex-flow: column;
  background-color: burlywood;
  // Foto de Mike Kenneally en Unsplash
  background-image: url(../img/background1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  margin-top: auto;
}