// General Properties

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

figcaption {
  width: max-content;
  margin: auto;
}

img {
  @media (max-width: 768px) {
    max-height: 70vh;
  }
}

iframe {
  max-width: 100%;
}

input[type="radio"] {
  display: none;
}