// Cart Icon

.dropdown-item-custom,
.dropdown-item-custom:hover,
.dropdown-menu-custom {
  background-color: $color0;
}

#cart-icon {
  width: 500px;
  padding: 0;
  list-style: none;

  img {
    width: 60px;
  }
}

.cart-button {
  width: 50px !important;
  height: 40px;
}

.cart-span-description {
  width: 120px;
}

.cart-span-amount {
  width: 60px;
}

.cart-span-money {
  width: 80px;
}

.cart-icon-footer {
  span {
    border-top: $black-border;
  }

  a {
    color: $color5;
  }
}

// Cart Icon for mobile

.cart-icon-mobile-container {
  left: auto;
  margin-right: 11px;
  margin-bottom: 11px;
  opacity: 90%;

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  & {
    animation: zoomIn 1500ms;
    animation-iteration-count: infinite;
  }
}

.cart-icon-mobile {
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $color0;

  .bi-cart-fill {
    color: $color5;
    font-size: 45px;
  }
}

.cart-icon-mobile-amount {
  display: inline-block;
  position: fixed;
  text-align: center;
  top: -10px;
  left: 30px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: $color0;
  background-color: $color3;
}

// Cart Page

.carrito__body {
  background-color: $color1;
  color: $color5;
}

.carrito__body__main {
  color: $color5;
}

.carrito__body__main__title {
  padding: 2rem 5%;
}

#cart-page {
  width: 100%;

  li {
    height: 135px;
    gap: 0.5rem;
    margin: 1.5rem 0;
    border: solid 1px $color3;
    border-radius: 15px;
    padding-left: 2% !important;
    padding-right: 2% !important;
    padding-top: 7% !important;
    padding-bottom: 7% !important;

    .cart-span-description {
      width: 200px;
    }

    .cart-span-amount {
      white-space: nowrap
    }

    .cart-span-money {
      @extend .cart-span-amount;
      width: 110px;

      @media (max-width: 575px) {
        & {
          white-space: normal;
        }
      }
    }

    .cart-buttons {
      display: flex;
      justify-content: center;

      @media (max-width: 767px) {
        & {
          flex-direction: column;
        }
      }
    }

    .cart-button {
      margin: 0.4rem;
    }
  }

  img {
    align-self: center;
    max-width: 12%;
    height: auto;
  }
}