// Cart Icon

.dropdown-item-custom,
.dropdown-item-custom:hover,
.dropdown-menu-custom {
  background-color: $color0;
}

#cart-icon {
  width: 500px;
  padding: 0;
  list-style: none;

  img {
    width: 60px;
  }

}

.cart-button {
  width: 50px !important;
  height: 40px;
}

.cart-span-description {
  width: 120px;
}

.cart-span-amount {
  width: 60px;
}

.cart-span-money {
  width: 80px;
}

.cart-icon-footer {
  span {
    border-top: $black-border;
  }

  a {
    color: $color5;
  }
}

// Cart Page

.carrito__body {
  background-color: $color1;
  color: $color5;
}

.carrito__body__main {
  color: $color5;
}

.carrito__body__main__title {
  padding: 2rem 5%;
}

#cart-page {
  @extend #cart-icon;
  width: 100%;

  li {
    height: 150px;
  }

  img {
    width: 150px;
  }
}