.coworking__body__navbar-main-bg {
  background-image: url(../img/coworking-background.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.coworking__body__main {
  min-height: 100vh;
}

.coworking__body__main__title {}

.coworking__body__section {
  min-height: 100vh;
}