.coworking__html {
  height: auto;
}

.coworking__body-bg {
  background-image: url(../img/coworking/coworking-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coworking__body__main {
  height: 105vh;
}

.coworking__body__main__title {
  height: 80%;
  @include title;
  display: flex;
  justify-content: center;
  text-align: center;

  & * {
    margin: auto 4%;
  }
}

.coworking__body__section {
  min-height: 105vh;
  @include title;

  & * {
    margin: auto;
  }
}

.coworking__body__section__div {
  @extend .index__body__section__div;
}

.coworking__body__section--last {
  @extend .coworking__body__section;
  @extend .coworking__body__section__div;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40rem;
}