footer {
  max-width: 100%;
  font-size: 1.1rem;
  margin-top: 0;
  color: $color1;
  background-color: $color3;
}

.footer-logo {
  width: 64px;
}

.nav-link-footer {
  @include zoom-in-transition-pc;

  &:hover {
    color: black !important;
  }
}