footer {
  max-width: 100%;
  font-size: 1.1rem;
  margin-top: 0;
  color: $color2;
  background-color: $color5;
}

.footer-logo {
  width: 64px;
}

.nav-link-footer {
  color: $color1 !important;
  font-size: 1rem;
  @include zoom-in-transition-pc;

  &:hover {
    color: white !important;
  }
}