footer {
  max-width: 100%;
  margin-top: auto;
  color: $color2;
  background-color: $color5;
  border-top: $black-border;
}

.footer-logo,
.footer-logo img {
  max-width: 64px;
}

.nav-link-footer {
  color: $color1 !important;
  @include zoom-in-transition-pc;

  &:hover {
    color: white !important;
  }
}