.index__body__navbar-main-bg {
  min-height: 110%;
  background-color: $color5;
  background-image: url(../img/background2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index__body__main {
  min-height: 100%;
}

.index__body__main__title {
  position: sticky;
  top: 50%;
  margin-left: 3%;

  @include fadeIn;

  & {
    animation: fadeIn 1.25s;
  }

  & * {
    font-weight: bold;
    color: $navbar-color;
    background-color: $color4-transparent;
    max-width: max-content;
    padding: 5px;
    border-radius: 10px;
  }

  @media (max-width: 767px) {
    margin-left: 0;

    @include fadeIn-mobile;

    & h1 {
      font-size: 2.25rem;
    }

    & h2 {
      font-size: 1.75rem;
    }
  }
}

.index__body__section {
  background-image: url(../img/background1.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1200px) {
    & {
      background-attachment: scroll;
    }
  }

  @media (max-width: 767px) {
    & * {
      display: flex;
      margin: auto;
      text-align: center;
    }
  }

  & img {
    height: auto;
    border-radius: 10px;

    @media (max-width: 767px) {
      & {
        padding-top: 30px;
        max-width: 70%;
      }
    }
  }

  & h2 {
    color: $navbar-color;
    background-color: $color4-super-transparent;
    max-width: max-content;
    padding: 5px;
    border-radius: 10px;
  }
}

// .index__body__section {
//   min-height: 300vh;
//   background-image: url(../img/background3.webp);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   @media (max-width: 767px) {
//     & {
//       min-height: 150vh;
//     }
//   }
// }