.index__body__navbar-main-bg {
  min-height: 105%;
  background-color: $color5;
  background-image: url(../img/background2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index__body__main {
  min-height: 100%;
  width: 100%;
}

.index__body__main__title {
  position: sticky;
  top: 50%;

  & * {
    @include title;
  }

  @media (max-width: 767px) {

    & h1 {
      font-size: 2.2rem;
    }

    & h2 {
      font-size: 1.7rem;
    }
  }
}

.index__body__section {
  background-image: url(../img/background1.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: $black-border;

  @media (max-width: 1200px) {
    & {
      background-attachment: scroll;
    }
  }

  @media (max-width: 767px) {
    & * {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
  }

  & img {
    height: auto;
    max-width: 30%;
    border-radius: 10px;

    @media (max-width: 767px) {
      & {
        padding-top: 30px;
        max-width: 50%;
      }
    }
  }

  & h2,
  & h3 {
    margin-bottom: 1rem;
  }
}

.index__body__section__text {
  color: $color0;
  background-color: $color4-transparent;
  max-width: max-content;
  padding: 5px;
  border-radius: 10px;
  text-align: right;

  @media (max-width: 767px) {
    & {
      margin: auto 50px;
      text-align: center;
    }
  }
}

// .index__body__section {
//   min-height: 300vh;
//   background-image: url(../img/background3.webp);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   @media (max-width: 767px) {
//     & {
//       min-height: 150vh;
//     }
//   }
// }