// Mixins

@mixin zoom-in-transition {
  transition: all 0.25s;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin zoom-in-transition-pc {
  transition: all 0.25s;

  @media (min-width: 1200px) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

@mixin title {
  color: $color0;
  background-color: $color4-transparent;
  max-width: max-content;
  margin-left: 60px;
  padding: 5px;
  border-radius: 10px;

  @media (max-width: 767px) {
    margin: 0 10px;
  }
}

@mixin title-tienda {
  @include title;
  background-color: $color5-transparent;

  @media (max-width: 767px) {
    margin: auto;
  }
}