// Mixins

@mixin zoom-in-transition {
  transition: all 0.25s;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin zoom-in-transition-pc {
  transition: all 0.25s;

  @media (min-width: 1200px) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

@mixin title {
  & * {
    color: $color0;
    margin-left: 5%;
    -webkit-text-stroke: $white-stroke;

    @media (max-width: 767px) {
      margin: 0 4%;
    }
  }
}

@mixin title-tienda {
  @include title;

  & * {
    @media (max-width: 767px) {
      margin: auto;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    margin: 0 4%;
  }
}