// Mixins


// Mixin for titles. Use on parent element.
@mixin title {
  & * {
    color: $color0;
    -webkit-text-stroke: $text-stroke;
  }
}

// Mixin for titles on mobile. This is going to center the content and add margins on X axis.
@mixin title-mobile-center {
  @media (max-width: 767px) {
    margin: auto 4%;
    text-align: center;
  }
}