.navbar-custom {
  background-color: $navbar-color;
  padding: 0;
  font-family: 'Sansita', sans-serif;
  font-size: 1.1rem;
}

.navbar-logo {
  width: 40px;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

.navbar-brand-custom {
  display: flex;
  flex-direction: row;
  font-family: 'Parisienne', cursive;
  font-size: 2rem;
  padding-bottom: 0;
}