.tienda__body__navbar-main-bg {
  color: $color5;
  background-color: $color1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tienda__body__main {
  padding-top: 2rem;
}