/* "Up" button Properties */

.up-floating-icon {
  display: flex;
  position: sticky;
  top: 91%;
  font-size: 2.5rem;
  margin-top: -4.5rem;
  justify-content: left;
  margin-left: 4px;
  margin-right: 99%;
  color: rgb(237, 224, 212);

  @keyframes bouncingArrow {
    0% {
      transform: translate3D(0);
    }

    20% {
      transform: translate3D(0, -30%, 0)
    }

    100% {
      transform: translate3D(0);
    }
  }

  & {
    animation: bouncingArrow 1000ms;
    animation-iteration-count: infinite;
  }
}