/* "Up" button Properties */

.up-floating-icon {
  display: flex;
  position: sticky;
  top: 91%;
  font-size: 3rem;
  margin-top: -3rem;
  justify-content: left;
  margin-left: 7px;
  margin-right: 0;
}