[data-aos=fade-in-index-main] {
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos=fade-in-index-main].aos-animate {
  opacity: 1;
}
@media (min-width: 768px) {
  [data-aos=fade-in-index-main] {
    transform: translateX(-3%);
  }
  [data-aos=fade-in-index-main].aos-animate {
    transform: translateX(0);
  }
}

[data-aos=fade-in-index-section-left] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;
}
[data-aos=fade-in-index-section-left].aos-animate {
  opacity: 1;
  transform: translate(0);
}
@media (min-width: 768px) {
  [data-aos=fade-in-index-section-left] {
    transform: translate(-10%, 5%);
  }
  [data-aos=fade-in-index-section-left].aos-animate {
    transform: translateX(0);
  }
}

[data-aos=fade-in-index-section-right] {
  opacity: 0;
  transform: translate(0%, 20%);
  transition-property: transform, opacity;
}
[data-aos=fade-in-index-section-right].aos-animate {
  opacity: 1;
  transform: translate(0);
}
@media (min-width: 768px) {
  [data-aos=fade-in-index-section-right] {
    transform: translate(10%, 5%);
  }
  [data-aos=fade-in-index-section-right].aos-animate {
    transform: translate(0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

.navbar-custom {
  background-color: rgba(237, 224, 212, 0.95);
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}

.navbar-logo {
  width: 40px;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

.navbar-brand-custom {
  display: flex;
  flex-direction: row;
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-nav-custom {
    padding-top: 0.5rem;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .navbar-nav-custom {
    display: flex;
    gap: 3rem;
  }
}

.nav-link-cart {
  transition: all 0.25s;
}
@media (max-width: 767px) {
  .nav-link-cart {
    display: none;
  }
}
@media (min-width: 1200px) {
  .nav-link-cart:hover {
    transform: scale(1.05);
  }
}

.nav-link-custom {
  transition: all 0.25s;
}
@media (min-width: 1200px) {
  .nav-link-custom:hover {
    transform: scale(1.05);
  }
}

/* "Up" button Properties */
.up-floating-icon {
  display: flex;
  position: fixed;
  bottom: 20px;
  font-size: 3.5rem;
  justify-content: left;
  margin-left: 10px;
  margin-right: 0;
}

footer {
  max-width: 100%;
  margin-top: auto;
  color: #ddb892;
  background-color: #7f5539;
  border-top: 0.5px solid rgb(0, 0, 0);
}

.footer-logo,
.footer-logo img {
  max-width: 64px;
}

.nav-link-footer {
  color: #e6ccb2 !important;
  transition: all 0.25s;
}
@media (min-width: 1200px) {
  .nav-link-footer:hover {
    transform: scale(1.05);
  }
}
.nav-link-footer:hover {
  color: white !important;
}

.index__body__navbar-main-bg {
  min-height: 105%;
  background-color: #7f5539;
  background-image: url(../img/background2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index__body__main {
  min-height: 100%;
}

.index__body__main__title {
  position: sticky;
  top: 50%;
}
.index__body__main__title * {
  color: #ede0d4;
  margin-left: 5%;
  -webkit-text-stroke: 0.6px white;
}
@media (max-width: 767px) {
  .index__body__main__title * {
    margin: 0 4%;
  }
}
@media (max-width: 767px) {
  .index__body__main__title h1 {
    font-size: 2.2rem;
  }
  .index__body__main__title h2 {
    font-size: 1.7rem;
  }
}

.index__body__section {
  background-image: url(../img/background1.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.5px solid rgb(0, 0, 0);
}
@media (max-width: 1200px) {
  .index__body__section {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  .index__body__section * {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
}
.index__body__section img {
  height: auto;
  max-width: 30%;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .index__body__section img {
    padding-top: 30px;
    max-width: 60%;
  }
}
.index__body__section h2, .index__body__section h3 {
  margin-bottom: 1rem;
}

.index__body__section__div {
  margin-left: 5%;
  margin-right: 5%;
}

.index__body__section__text {
  color: #ede0d4;
  text-align: right;
  -webkit-text-stroke: 0.6px white;
  text-wrap: balance;
}
@media (max-width: 767px) {
  .index__body__section__text {
    margin: auto 50px;
    text-align: center;
  }
}

.coworking__body__navbar-main-bg {
  height: 100%;
}

.tienda__body__navbar-main-bg {
  background-color: #9c6644;
  opacity: 1;
  background-image: radial-gradient(#ddb892 1.05px, #9c6644 1.05px);
  background-size: 21px 21px;
}

.tienda__body__main {
  padding-top: 2rem;
}

.tienda__body__main__title * {
  color: #ede0d4;
  margin-left: 5%;
  -webkit-text-stroke: 0.6px white;
}
@media (max-width: 767px) {
  .tienda__body__main__title * {
    margin: 0 4%;
  }
}
@media (max-width: 767px) {
  .tienda__body__main__title * {
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .tienda__body__main__title {
    margin: 0 4%;
  }
}

/*# sourceMappingURL=style.css.map */
