.balance {
  text-wrap: balance;
}

@keyframes fadeIn-Up {
  0% {
    opacity: 0;
    transform: translate3D(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0);
  }
}
.fadein-up {
  animation: fadeIn-Up 1500ms;
}

@keyframes fadeIn-Index-Title {
  0% {
    opacity: 0;
    transform: translate3D(-3%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0);
  }
}
@media (max-width: 767px) {
  @keyframes fadeIn-Index-Title {
    0% {
      opacity: 0;
      transform: translate3D(0, 20%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }
}
.fadein-index-title {
  animation: fadeIn-Index-Title 1500ms;
}

@keyframes fadeIn-Right {
  0% {
    opacity: 0;
    transform: translate3D(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0);
  }
}
@media (max-width: 767px) {
  @keyframes fadeIn-Right {
    0% {
      opacity: 0;
      transform: translate3D(0, 20%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }
}
.fadein-right {
  animation: fadeIn-Right 1500ms;
}

@keyframes fadeIn-Left {
  0% {
    opacity: 0;
    transform: translate3D(10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3D(0);
  }
}
@media (max-width: 767px) {
  @keyframes fadeIn-Left {
    0% {
      opacity: 0;
      transform: translate3D(0, 20%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3D(0);
    }
  }
}
.fadein-left {
  animation: fadeIn-Left 1500ms;
}

@media (min-width: 768px) {
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
}

@media (min-width: 768px) {
  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7f5539;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
  }
}

@media (min-width: 768px) {
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
}

figcaption {
  width: max-content;
  margin: auto;
}

@media (max-width: 768px) {
  img {
    max-height: 70vh;
  }
}

iframe {
  max-width: 100%;
}

input[type=radio] {
  display: none;
}

.navbar-custom {
  background-color: rgba(237, 224, 212, 0.9);
  padding: 0;
  font-size: 1.1rem;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}

.navbar-logo {
  width: 40px;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

.navbar-brand-custom {
  display: flex;
  flex-direction: row;
  font-family: cursive;
  font-size: 1.9rem;
  padding: auto;
}

@media (max-width: 767px) {
  .navbar-nav-custom {
    padding-top: 0.5rem;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .navbar-nav-custom {
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 767px) {
  .nav-link-cart {
    display: none;
  }
}

/* "Up" button Properties */
.up-floating-icon {
  display: flex;
  position: sticky;
  top: 89%;
  font-size: 3rem;
  margin-top: -4.5rem;
  justify-content: left;
  margin-left: 6px;
  margin-right: 99%;
  color: rgb(237, 224, 212);
}
@keyframes bouncingArrow {
  0% {
    transform: translate3D(0);
  }
  20% {
    transform: translate3D(0, -30%, 0);
  }
  100% {
    transform: translate3D(0);
  }
}
.up-floating-icon {
  animation: bouncingArrow 1000ms;
  animation-iteration-count: infinite;
}

footer {
  margin-top: auto;
  max-width: 100%;
  color: #ddb892;
  background-color: #7f5539;
  border-top: 0.5px solid rgb(0, 0, 0);
}

.footer-logo,
.footer-logo img {
  max-width: 64px;
}

.nav-link-footer {
  color: #e6ccb2 !important;
}
.nav-link-footer:hover {
  color: white !important;
}

.bi-c-circle {
  color: #DDB892;
  transform: rotate(180deg);
}

.index__body__navbar-main-bg {
  background-color: #7f5539;
  background-image: url(../img/index-main-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index__body__main {
  height: 105vh;
}

.index__body__main__title {
  position: sticky;
  top: 65%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  text-align: start;
  justify-content: start;
}
.index__body__main__title * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}
@media (max-width: 767px) {
  .index__body__main__title h1 {
    font-size: 2.2rem;
  }
  .index__body__main__title h2 {
    font-size: 1.7rem;
  }
}

.index__body__section {
  background-image: url(../img/index-section-background.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.5px solid rgb(0, 0, 0);
}
@media (max-width: 1200px) {
  .index__body__section {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  .index__body__section * {
    margin: auto;
    text-align: center;
  }
}
.index__body__section h2, .index__body__section h3 {
  margin-bottom: 1rem;
}

.index__body__section__div, .coworking__body__section__div, .coworking__body__section--last {
  margin-left: 5%;
  margin-right: 5%;
}
.index__body__section__div *, .coworking__body__section__div *, .coworking__body__section--last * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}

.index__body__section__text * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}

.figure-index1-img {
  width: min-content !important;
}

.index1-img {
  max-width: 27vw;
}
@media (max-width: 767px) {
  .index1-img {
    max-width: 70vw;
  }
}

.coworking__html {
  height: auto;
}

.coworking__body-bg {
  background-image: url(../img/coworking/coworking-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.coworking__body__main {
  height: 105vh;
}

.coworking__body__main__title {
  height: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.coworking__body__main__title * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}
.coworking__body__main__title * {
  margin: auto 4%;
}

.coworking__body__section, .coworking__body__section--last {
  min-height: 105vh;
}
.coworking__body__section *, .coworking__body__section--last * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}
.coworking__body__section *, .coworking__body__section--last * {
  margin: auto;
}

.coworking__body__section--last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40rem;
}

.tienda__body-bg {
  background-color: #3e291b;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #7f5539, #7f5539 1px, #3e291b 1px, #3e291b);
}

.tienda__body__main__title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 5%;
}
.tienda__body__main__title * {
  color: #ede0d4;
  -webkit-text-stroke: 0.1px #7f5539;
}

.button-scale, .button-scale-100 {
  transform: scale(1);
  transition: all 0.25s;
}
.button-scale:hover, .button-scale-100:hover {
  transform: scale(1.05);
  transition: all 0.25s;
}

.button-scale-100 {
  width: 100px;
}

.btn-custom,
.btn-custom:hover {
  color: #ede0d4;
  background-color: #7f5539;
}

.btn-minus-plus {
  max-width: 70px;
}

.dropdown-item-custom,
.dropdown-item-custom:hover,
.dropdown-menu-custom {
  background-color: #ede0d4;
}

#cart-icon {
  width: 500px;
  padding: 0;
  list-style: none;
}
#cart-icon img {
  width: 60px;
}

.cart-button {
  width: 50px !important;
  height: 40px;
}

.cart-span-description {
  width: 120px;
}

.cart-span-amount, #cart-page li .cart-span-money {
  width: 60px;
}

.cart-span-money {
  width: 80px;
}

.cart-icon-footer span {
  border-top: 0.5px solid rgb(0, 0, 0);
}
.cart-icon-footer a {
  color: #7f5539;
}

.carrito__body {
  background-color: #e6ccb2;
  color: #7f5539;
}

.carrito__body__main {
  color: #7f5539;
}

.carrito__body__main__title {
  padding: 2rem 5%;
}

#cart-page {
  width: 100%;
  border: solid 2px #7f5539;
  border-radius: 15px;
  padding: 20px;
}
#cart-page li {
  height: 135px;
  gap: 0.5rem;
  margin: 1rem 0;
}
#cart-page li .cart-span-description {
  width: 200px;
}
#cart-page li .cart-span-amount, #cart-page li .cart-span-money {
  white-space: nowrap;
}
#cart-page li .cart-span-money {
  width: 110px;
}
@media (max-width: 575px) {
  #cart-page li .cart-span-money {
    white-space: normal;
  }
}
#cart-page li .cart-buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  #cart-page li .cart-buttons {
    flex-direction: column;
  }
}
#cart-page li .cart-button {
  margin: 0.4rem;
}
#cart-page img {
  align-self: center;
  max-width: 12%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
